html {
  font-size: 16px;

}

.upset {

  position: relative;
  top: 4rem;
}


header{
  display: flex;
  justify-content: space-between;
  /*padding: 1rem 1.5rem;*/
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.logo h3{
  display: inline-block;
  font-size: 2rem;
}

header ul {
  display: flex;
  padding: 1rem 1.5rem;
}

header ul li {
  padding: 0 0.5rem;
}

/* Banner */

.banner {
  display: flex;
  background-color: gray;

}

.banner .img-cont{
  width: 60%;
  padding: 2rem 1.5rem;
}


.banner img {
  width: 100%;



}

.banner .banner-info{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40%;
  text-align: center;
}


/* BUSINESS */


.business {
  display: flex;
  width:  100%;
  padding: 2rem 0;

}

.business-banner{
  width: 60%;
  padding: 0 1.5rem;
}

.business-banner img{
  width: 100%;

}

.business .business-info{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;

}

.business .img-cont{
  width: 35%;
}

.business img{
  width: 100%;
}

.business .bocadillo{
  width: 65%;
}


/*.info h3,
.info p{
  width: 65%;
}
