html {
  font-size: 16px;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Bree Serif', serif;
  overflow-x: hidden;

}



.upset {

  position: relative;
  top: 4rem;
}



header{
  /*padding: 1rem 1.5rem;*/
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 4rem;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: white;

}

#desktop-header {
  display: flex;
  justify-content: space-between;
  /*padding: 1rem 1.5rem;*/

  width: 100%;

}

header .logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.logo h3{
  display: inline-block;
  font-size: 2rem;
}

.bold{
  font-weight: bold;
}

header ul {
  display: flex;
  padding: 1rem 1.5rem;
}

header ul li {
  padding: 0 0.5rem;
  line-height: 2rem;
}

#mobile-header {
  display: none;
}

@media only screen and (max-width: 480px) {

  #desktop-header{
    display: none;
  }

  #mobile-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

/* Banner */

.banner {
  display: flex;
  background-color: rgb(179, 179, 255);

}

.banner .img-cont{
  width: 60%;
  padding: 2rem 1.5rem;
}


.banner img {
  width: 100%;



}

.banner .banner-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align:  left;

}

.banner-info h1{
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(51, 51, 255);
  }

.button {
  display: block;
  padding: 1rem 1rem;
  background-color: rgb(51, 51, 255);
  text-align: center;
  width: 60%;
  margin: 2rem 0;
  color: white;
}

@media only screen and (max-width: 480px){
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0;
  }

  .banner .img-cont {
    width: 100%;
  }

  .banner img {
    width: 100%;
  }

  .banner .banner-info {
    width: 100%;
  }

  .banner-info h1 {
    padding: 2rem 1rem;
    font-size: 2rem;
  }

  .banner-info h3 {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .banner-info .button {
    margin: 1.5rem 1rem 2rem 1rem;
    width: 80%;

  }
}


/* BUSINESS */


.business {
  display: flex;
  width:  100%;
  padding: 2rem 0;
  margin-bottom: 2rem;

}

.business-banner{
  width: 60%;
  padding: 0 1.5rem;
}

.business-banner img{
  width: 100%;

}

.business h2{
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem 0 1.5rem 0;
  color: rgb(255, 179, 236);
}



/*business 2*/

.business-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.business-info img {
  width: 35%;
  height: 33.3%;
  padding: 0 1rem 2rem 1rem;
}

.business-info .material{
  display: flex;
}


.bocadillo{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem;
}

.bocadillo h3{
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.business-banner span{
  display: inline-block;
  margin-top: 2rem;
}

.rosado {
  background-color: rgb(235, 173, 214);
  margin-bottom: 2rem;

}


@media only screen and (max-width: 480px){
  .business-banner {
    display: none;
  }

  .business-info {
    width: 100%;
  }
}

/*main*/



.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 179);


}

.main h1{
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 153, 0);
}


.course {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;



}


.main .curso{
  width: 25%;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 2rem 2rem;
  height: 100%;

}

.main img{
  height: auto;
  width: 100%;

}

.main .datos{
  height: 50%;
  background-color: white;
  font-size: 1.5rem;


}

.datos h3{
  font-weight: bold;
}


.datos p{
  font-size: 1rem;
}

.datos h3,
.datos span,
.datos p{
  padding: 1rem 1rem;

}


/*tesis*/

.tesis {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

}

.contenedor{
  width: 100%;
  display: flex;
}

.tesis h1{
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: bold;
}

.videof {
  width: 60%;
  margin: 1.5rem 1.5rem
}

.videof h3{
  font-weight: bold;
  font-size: 1rem;
  padding: 1.5rem 0 0.5rem 0;
}

video{
  max-width: 100%;
}

.tesis-info {
  width: 40%;
  padding-top: 0.5rem;
}

.tesis-info .img-cont{
  width: 35%;
}

.tesis-info img{
  width: 100%;

}

.tesis .fisma,
.tesis .research{

  display: flex;
  padding: 1rem 1rem;
  align-items: center;

}

.tesis-info .news{
  padding-left: 1rem;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

footer ul{
  display: flex;
}

footer ul li{
  padding: 0 0.5rem;
}
