html {
  font-size: 16px;
  background-color: rgba(0,0,0,0.1)

}

.upset {

  position: relative;
  top: 4rem;
}


header{
  display: flex;
  justify-content: space-between;
  /*padding: 1rem 1.5rem;*/
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.logo h3{
  display: inline-block;
  font-size: 2rem;
}

.bold{
  font-weight: bold;
}

header ul {
  display: flex;
  padding: 1rem 1.5rem;
}

header ul li {
  padding: 0 0.5rem;
}

/* Banner */

.banner {
  display: flex;
  background-color: gray;

}

.banner .img-cont{
  width: 60%;
  padding: 2rem 1.5rem;
}


.banner img {
  width: 100%;



}

.banner .banner-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align:  left;
}

.banner-info h1{
  font-weight: bold;
  font-size: 3rem;
  }

.button {
  display: inline-block;
  padding: 1rem 1rem;
  background-color: red;
  text-align: center;
}


/* BUSINESS */


.business {
  display: flex;
  width:  100%;
  padding: 2rem 0;
  margin-bottom: 2rem;

}

.business-banner{
  width: 60%;
  padding: 0 1.5rem;
}

.business-banner img{
  width: 100%;

}

.business h2{
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem 0 1.5rem 0;
}



/*business 2*/

.business-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.business-info img {
  width: 35%;
  height: 33.3%;
  padding: 0 1rem 2rem 1rem;
}

.business-info .material{
  display: flex;
}

.bocadillo{
  width: 65%;
}

.business-banner span{
  display: inline-block;
  margin-top: 2rem;
}



/*main*/



.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;


}

.main h1{
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}


.course {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;



}


.main .curso{
  width: 25%;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 2rem 2rem;

}

.main img{
  height: auto;
  width: 100%;

}

.main .datos{
  height: 50%;
  background-color: white;
  font-size: 1.5rem;
}


/*tesis*/

.tesis {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.contenedor{
  width: 100%;
  display: flex;
}

.videof {
  width: 60%;
  margin: 1.5rem 1.5rem
}

video{
  max-width: 100%;
}

.tesis-info {
  width: 40%;
}

.tesis-info .img-cont{
  width: 35%;

}

.tesis-info img{
  width: 100%;

}

.tesis .fisma,
.tesis .research{

  display: flex;

}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
}

footer ul{
  display: flex;
}
